# Основные настройки приложения
CONTACT_NAME = ...
CONTACT_TG = ...
CONTACT_EMAIL = ...
DEBUG = ...
ENVIRONMENT = ...

# Настройки домена и мониторинга
DOMAIN = ...
ACME_EMAIL = ...
MONITORING_ALLOWED_CIDRS = ...
TRAEFIK_HASH_PASSWORD = ...
TELEGRAM_ADMIN_CHAT_ID = ...
TELEGRAM_BOT_TOKEN = ...
GRAFANA_PASSWORD = ...

# Настройки безопасности
SECRET_KEY = ...
API_KEY = ...
DOCS_USERNAME = ...
DOCS_PASSWORD = ...

# Настройки CORS
CORS_ALLOW_ORIGINS = ...

# Настройки базы данных
DB_HOST = ...
DB_PORT = ...
POSTGRES_USER = ...
POSTGRES_PASSWORD = ...
POSTGRES_DB = ...
SQLALCHEMY_ECHO = ...
MAX_CONNECT_DB = ...

# Настройки Redis
REDIS_HOST = ...
REDIS_PORT = ...
REDIS_DB = ...
REDIS_PASSWORD = ...

# Настройки Dramatiq
DRAMATIQ_REDIS_HOST = ...
DRAMATIQ_REDIS_PORT = ...
DRAMATIQ_REDIS_DB = ...
DRAMATIQ_REDIS_PASSWORD = ...
DRAMATIQ_PROCESSES = ...
DRAMATIQ_THREADS = ...
DRAMATIQ_METRICS_PORT = ...
DRAMATIQ_REPORTS_TTL_DAYS = ...

# Настройки интеграций
API_KEY_PROFILEHUB = ...
API_URL_PROFILEHUB = ...

API_KEY_POLZA = ...
API_URL_POLZA = ...